a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body {
  font-family: 'Jost';
}

b {
  font-weight: black;
}

strong {
  font-weight: bold;
}

section>h5 {
  padding-bottom: 30px;
}

code {
  white-space: pre-wrap;
}


.papertitle {
  font-size: 17px;
  font-weight: 700;
}

.name {
  padding-top: 32px;
  margin: 0;
  font-size: 30px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.shadow-on-hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* AutoPlay */
/* 
.two {
width: 160px;
height: 160px;
position: absolute;
transition: opacity .2s ease-in-out;
-moz-transition: opacity .2s ease-in-out;
-webkit-transition: opacity .2s ease-in-out;
} */

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}


span.highlight {
  background-color: #ffffd0;
}